<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="ZilliqaStatic">
      <directory>tests/TestZilliqaStatic/Unit</directory>
    </testsuite>
    <testsuite name="TestZilliqaMainnet">
      <directory>tests/TestZilliqaMainnet/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="SERVER_URL" value="https://api.zilliqa.com/"/>
  </php>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src/</directory>
    </whitelist>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./tests/</directory>
    </whitelist>
  </filter>
</phpunit>
